<launch>

    <arg name="node_id"/>

    <node pkg="pulson_ros" name="tdma_node_$(arg node_id)" type="tdma_node" output="screen">
        <param name="pulse_integration_index" value="8" />
        <param name="node_id" value="$(arg node_id)" />
        <param name="slot_map_file" value="$(find pulson_ros)/config/mast_slotmap.yaml" />
    </node>

</launch>
