<launch>

    <group ns="radio_0">
        <node pkg="pulson_ros" name="tdma_node" type="tdma_node">
            <param name="pulse_integration_index" value="7" />
            <param name="node_id" value="102" />
            <param name="slot_map_file" value="$(find pulson_ros)/config/irl_slotmap.yaml" />
	    <param name="ip_address" value="0" />
	    <param name="serial_dev" value="" />
            <param name="dev_path" value="" />
        </node>
    </group>

    <group ns="radio_1">
        <node pkg="pulson_ros" name="tdma_node" type="tdma_node">
            <param name="pulse_integration_index" value="7" />
            <param name="node_id" value="103" />
            <param name="slot_map_file" value="$(find pulson_ros)/config/irl_slotmap.yaml" />
	    <param name="ip_address" value="0" />
	    <param name="serial_dev" value="" />
            <param name="dev_path" value="" />
        </node>
    </group>

</launch>
